<div class="one-question">
    <h1 class="title-q">Votre type de logement : </h1>
    <div class="answer-w">
        <div class="one-answer">
            <!-- <img src="../../assets/" alt=""> -->
            <input type="radio" name="qgroup" id="q1">
            <label class="radio" for="q1">
                <img src="../../assets/icons/house.png" alt="House image">
                <span>Maison</span>
            </label>
        </div>
        <div class="one-answer">        
            <input type="radio" id="q2" name="qgroup">
            <label class="radio" for="q2">Appartement</label>
        </div>
    </div>
    
</div>