<section>
    <form [formGroup]="personnalInformation">
        <mat-stepper linear #stepper>
            <mat-step [editable]="true">
                <ng-template matStepLabel>Votre logement</ng-template>
                <div class="one-question">
                    <h1 class="title-q">Votre type de logement : </h1>
                    <div class="answer-w">
                        <div class="one-answer">
                            <!-- <img src="../../assets/" alt=""> -->
                            <input type="radio" value="house" id="q1a1" formControlName="livingType">
                            <label class="radio" for="q1a1">
                                <img src="../../assets/icons/house.png" alt="House image">
                                <span>Maison</span>
                            </label>
                        </div>
                        <div class="one-answer">
                            <input type="radio" value="appartement" id="q1a2" formControlName="livingType">
                            <label class="radio" for="q1a2">
                                <img src="../../assets/icons/building.png" alt="Building image">
                                <span>Appartement</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </mat-step>
            <mat-step [editable]="true">
                <div class="one-question">
                    <h1>Vous êtes : </h1>
                    <div class="answer-w">
                        <div class="one-answer">
                            <!-- <img src="../../assets/" alt=""> -->
                            <input type="radio" value="proprietaire" id="q2a1" formControlName="ownership">
                            <label class="radio" for="q2a1">
                                <img src="../../assets/icons/owner.png" alt="House image">
                                <span>Propiétaire</span>
                            </label>
                        </div>
                        <div class="one-answer">
                            <input type="radio" value="locataire" id="q2a2" formControlName="ownership">
                            <label class="radio" for="q2a2">
                                <img src="../../assets/icons/tenant.png" alt="Hand and key image">
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </mat-step>
            <mat-step [editable]="true">
                <div class="one-question">
                    <h1>Votre code postal : </h1>
                    <div class="answer-w">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Code Postal</mat-label>
                            <input matInput type="text" formControlName="zipCode" placeholder="Ex. 94121">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </mat-step>
            <mat-step [editable]="true">
                <div class="one-question">
                    <h1>Quelle est votre situation professionnel?</h1>
                    <!-- Ajouter le select -->
                </div>
            </mat-step>
            <mat-step [editable]="true">
                <div class="one-question" formGroupName="adress">
                    <h1>Votre adresse : </h1>
                    <mat-form-field>
                        <mat-label>Rue</mat-label>
                        <input matInput type="text" formControlName="street" placeholder="Ex. 94121">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Numéro de rue</mat-label>
                        <input matInput type="text" formControlName="streetNumber" placeholder="Ex. 94121">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ville</mat-label>
                        <input matInput type="text" formControlName="city" placeholder="Ex. 94121">
                    </mat-form-field>
                </div>
            </mat-step>
            <mat-step [editable]="true">
                <div class="one-question" formGroupName="perso">
                    <h1>Vos informations personnels : </h1>
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="firstName" placeholder="Ex. 94121">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Prenom</mat-label>
                        <input matInput type="text" formControlName="secondName" placeholder="Ex. 94121">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Date de naiscansse</mat-label>
                        <input matInput type="text" formControlName="birthday" placeholder="Ex. 94121">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Numéro de tel</mat-label>
                        <input matInput type="text" formControlName="phoneNumber" placeholder="Ex. 94121">
                    </mat-form-field>
                </div>
            </mat-step>
        </mat-stepper>

        <!-- <div class="one-question">
            <h1 class="title-q">Votre type de logement : </h1>
            <div class="answer-w">
                <div class="one-answer">
                    <img src="../../assets/" alt="">
                    <input type="radio" value="house" id="q1a1" formControlName="livingType">
                    <label class="radio" for="q1a1">
                        <img src="../../assets/icons/house.png" alt="House image">
                        <span>Maison</span>
                    </label>
                </div>
                <div class="one-answer">
                    <input type="radio" value="appartement" id="q1a2" formControlName="livingType">
                    <label class="radio" for="q1a2">Appartement</label>
                </div>
            </div>
        </div> -->
        <!-- <div class="one-question">
            <h1>Vous êtes : </h1>
            <div class="answer-w">
                <div class="one-answer">
                    <input type="radio" value="proprietaire" id="q2a1" formControlName="ownership">
                    <label class="radio" for="q2a1">
                        <img src="../../assets/icons/house.png" alt="House image">
                        <span>Propiétaire</span>
                    </label>
                </div>
                <div class="one-answer">
                    <input type="radio" value="locataire" id="q2a2" formControlName="ownership">
                    <label class="radio" for="q2a2">Locataire</label>
                </div>
            </div>
        </div> -->
        <!-- <div class="one-question">
            <h1>Votre code postal : </h1>
            <div class="answer-w">

                <mat-form-field>
                    <mat-label>Code Postal</mat-label>
                    <input matInput type="text" formControlName="zipCode" placeholder="Ex. 94121">
                </mat-form-field>
            </div>
        </div> -->
        <!-- <div class="one-question">
            <h1>Quelle est votre situation professionnel?</h1>
        </div> -->

        <!-- Implémenter une fonctionnalité pré-remplit -->
        <!-- <div class="one-question" formGroupName="adress">
            <h1>Votre adresse : </h1>
            <mat-form-field>
                <mat-label>Rue</mat-label>
                <input matInput type="text" formControlName="street" placeholder="Ex. 94121">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Numéro de rue</mat-label>
                <input matInput type="text" formControlName="streetNumber" placeholder="Ex. 94121">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ville</mat-label>
                <input matInput type="text" formControlName="city" placeholder="Ex. 94121">
            </mat-form-field>
        </div> -->

        <!-- <div class="one-question" formGroupName="perso">
            <h1>Vos informations personnels : </h1>
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput type="text" formControlName="firstName" placeholder="Ex. 94121">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Prenom</mat-label>
                <input matInput type="text" formControlName="secondName" placeholder="Ex. 94121">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date de naiscansse</mat-label>
                <input matInput type="text" formControlName="birthday" placeholder="Ex. 94121">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Numéro de tel</mat-label>
                <input matInput type="text" formControlName="phoneNumber" placeholder="Ex. 94121">
            </mat-form-field>
        </div> -->
        <button type="button" (click)="test()">Terminer</button>
    </form>
</section>