<section>
    <form [formGroup]="personnalInformation" (ngSubmit)="finalSendToApi(stepper)">
        <mat-stepper [linear]="false" #stepper>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Logement</ng-template>
                <div class="one-question">
                    <h1 class="title-q">Votre situation pour le calcul de vos économies : </h1>
                    <div class="answer-w">
                        <div class="one-answer">
                            <input type="radio" value="house" id="q1a1" formControlName="dwellingType">
                            <label class="radio" for="q1a1" (click)="nextStep(stepper, 'dwelling')">
                                <img src="../../assets/icons/house.png" alt="House image">
                                <span>Maison</span>
                            </label>
                        </div>
                        <div class="one-answer">
                            <input type="radio" value="appartement" id="q1a2" formControlName="dwellingType">
                            <label class="radio" for="q1a2" (click)="nextStep(stepper, 'dwelling')">
                                <img src="../../assets/icons/building.png" alt="Building image">
                                <span>Appartement</span>
                            </label>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Situation</ng-template>
                <div class="one-question">
                    <h1 class="title-q">Votre type de bien :</h1>
                    <div class="answer-w">
                        <div class="one-answer">
                            <!-- <img src="../../assets/" alt=""> -->
                            <input type="radio" value="proprietaire" id="q2a1" formControlName="situationType">
                            <label class="radio" for="q2a1" (click)="nextStep(stepper, 'situation')">
                                <img src="../../assets/icons/owner.png" alt="House image">
                                <span>Propiétaire</span>
                            </label>
                        </div>
                        <div class="one-answer">
                            <input type="radio" value="locataire" id="q2a2" formControlName="situationType">
                            <label class="radio" for="q2a2" (click)="nextStep(stepper, 'situation')">
                                <img src="../../assets/icons/tenant.png" alt="Hand and key image">
                                <span>Locataire</span>
                            </label>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Code Postal</ng-template>
                <div class="one-question">
                    <h1 class="title-q">Quel est votre code postal ?</h1>
                    <div class="answer-w">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Code Postal</mat-label>
                            <input matInput type="number" formControlName="zipCode" placeholder="Ex. 94121">
                        </mat-form-field>
                    </div>
                </div>
                <div class="stepper-next">
                    <button mat-raised-button color="primary"
                        [disabled]="personnalInformation.controls.zipCode.status == 'INVALID'"
                        type="submit">Suivant</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Verification</ng-template>
                <div class="one-answer">
                    <mat-spinner class="spin"></mat-spinner>
                </div>
            </mat-step>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Profession</ng-template>
                <div class="one-question">
                    <h1 class="title-q">Votre situation professionnel ?</h1>
                    <div class="answer-w">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Situation</mat-label>
                            <mat-select matNativeControl required formControlName="jobType">
                                <mat-option value="liberale">Profession Libérale</mat-option>
                                <mat-option value="salarie">Salarié</mat-option>
                                <mat-option value="sansactivite">Sans Emploi</mat-option>
                                <mat-option value="retraite">Retraité</mat-option>
                                <mat-option value="etudiant">Etudiant</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="stepper-next">
                    <button mat-raised-button color="primary" [disabled]="
                        personnalInformation.controls.jobType.status == 'INVALID'" type="submit">Suivant</button>
                </div>
            </mat-step>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Adresse</ng-template>
                <div class="one-question">
                    <h1 class="title-q">Quelle est votre adresse ? </h1>
                    <div class="answer-w inf-perso-w">
                        <div class="inf-perso">
                            <mat-form-field class="two-fields">
                                <mat-label>Rue</mat-label>
                                <input matInput type="text" formControlName="streetAddress" placeholder="Rue de Mamba">
                            </mat-form-field>
                            <mat-form-field class="two-fields">
                                <mat-label>Ville</mat-label>
                                <input matInput type="text" formControlName="cityName" placeholder="Ex. Paris">
                            </mat-form-field>
                        </div>

                    </div>
                </div>
                <div class="stepper-next">
                    <button mat-raised-button color="primary"
                        [disabled]="personnalInformation.controls.streetAddress.status == 'INVALID' || personnalInformation.controls.cityName.status == 'INVALID'"
                        type="submit">Suivant</button>
                </div>
            </mat-step>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Coordonnées</ng-template>
                <div class="one-question">
                    <h1 class="title-q">Vos informations personnelles : </h1>
                    <div class="answer-w inf-perso-w">
                        <div class="inf-perso">
                            <mat-form-field class="three-fields">
                                <mat-label>Prenom</mat-label>
                                <input matInput type="text" formControlName="secondName" placeholder="Ex. Jean">
                            </mat-form-field>
                            <mat-form-field class="three-fields">
                                <mat-label>Nom</mat-label>
                                <input matInput type="text" formControlName="firstName" placeholder="Ex. Dupont">
                            </mat-form-field>
                            <mat-form-field class="three-fields">
                                <mat-label>Année de naissance</mat-label>
                                <input matInput [(ngModel)]="personnalInformation.value.birthYear"
                                    formControlName="birthYear" [matDatepicker]="picker">
                                <mat-hint>YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker startView="multi-year"
                                    (yearSelected)="chosenYearHandler($event, picker)">
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="inf-perso">
                            <mat-form-field class="two-fields">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="emailAddress"
                                    placeholder="Ex. jean.dupont@xmail.fr">
                            </mat-form-field>
                            <mat-form-field class="two-fields">
                                <mat-label>Numéro de tel</mat-label>
                                <input matInput type="tel" formControlName="phoneNumber" placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="stepper-next">
                    <button mat-raised-button matStepperNext color="primary"
                        [disabled]=" personnalInformation.controls.secondName.status == 'INVALID' || personnalInformation.controls.firstName.status == 'INVALID' || personnalInformation.controls.emailAddress.status == 'INVALID' || personnalInformation.controls.phoneNumber.status == 'INVALID' || personnalInformation.controls.birthYear.status == 'INVALID'"
                        type="submit">
                        Suivant
                    </button>
                </div>
            </mat-step>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Remerciement</ng-template>
                <div class="one-question">
                    <h1>Lorem Ipsum</h1>
                    <p>Ajouter un message de remerciement?</p>
                </div>
            </mat-step>

        </mat-stepper>
        <span style="display: block;"> We Keep Status : {{ wekeep }}</span>

        <button type="button" (click)="weKeepChange(true, stepper)">True</button>
        <button type="button" (click)="weKeepChange(false, stepper)">False</button>
        <button type="button" (click)="test()">Données</button>
    </form>
</section>